<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.neo4j.eclipse.ui.parts.Neo4jDbViewer"
            icon="icons/obj16/neo-16.png"
            id="org.neo4j.eclipse.ui.parts.Neo4jDbViewer"
            name="Neo4j Database Viewer"
            restorable="true">
      </view>
   </extension>

</plugin>
